.profile-description {
    margin: 0;
    text-align: left;
    max-width: 720px;
}

.profile-description p {
    margin: 0;
    line-height: 1.2;
    color: var(--content);
    font-size: 16px;
}

.profile_inner {
    text-align: center;
}

.profile_inner > span {
    display: block;
    margin-bottom: 6px;
} 