.profile-description {
    margin: 0;
    text-align: left;
    max-width: 720px;
}

.profile-description p {
    margin: 0;
    line-height: 1.2;
    color: var(--content);
    font-size: 16px;
}

.profile_inner {
    text-align: center;
}

.profile_inner > span {
    display: block;
    margin-bottom: 6px;
} 

.post-meta-status {
    display: flex;
    /* justify-content: center; */
    font-size: 16px;
    color: var(--secondary);
    margin-bottom: 0.25rem;
}

.post-meta-edit {
    margin-top: 0.5rem;
}

.post-meta-status,
.post-meta-main,
.post-meta-edit {
    font-size: 14px;
    line-height: 1.5;
}